{% extends 'layout.jinja2' %}


{% block title %}{{ project.title }}{% endblock %}


{% block body %}
    <article>
        <h1>{{ project.title }}</h1>
        <h3>{{ project.repository }}</h3>
        <h3>{{ project.website }}</h3>
        <p>{{ project.description }}</p>
        {% if project.image_id %}
            <img src="{{ request.route_url('image', id=project.image_id) }}">
        {% endif %}
    </article>

    {% if request.authenticated_userid %}
    <ul>
        <li><a href="{{ request.route_url('edit', id=project.id) }}">Edit</a></li>
        <li><a href="{{ request.route_url('delete', id=project.id) }}">Delete</a></li>
    </ul>
    {% endif %}



{% endblock %}
