{% extends 'layout.jinja2' %}


{# -------------------- Macros -------------------- #}


{% set img_default = request.static_url('pyramid_portfolio:static/default.png') %}


{% macro image(image_id) -%}
    {% set img_project = request.route_url('image', id=image_id) %}
    {% set img_src = img_project if image_id else img_default %}

    <img class="project-card-image" src="{{ img_src }}">
{%- endmacro %}


{% macro article(project) -%}
    <article class="project">
        <a href="{{ request.route_url('detail', id=project.id) }}">
            <h2 class="project-card-title">{{ project.title }}</h2>

            {{ image(project.image_id) }}
        </a>
    </article>
{%- endmacro %}


{# -------------------- Template -------------------- #}


{% block title %}Portfolio of projects{% endblock %}


{% block body %}

    <section class="project-list">

        {% for project in projects %}
            {{ article(project) }}
        {% endfor %}

    </section>

{% endblock %}
