{% extends 'layout.jinja2' %}


{% block title %}Portfolio of projects{% endblock %}


{% block body %}
    <section class="project-list">
        {% for project in projects %}
            <article class="project">
                <h2><a href="{{ request.route_url('detail', id=project.id) }}">{{ project.title }}</a></h2>
                <div class="card-text">
                    <h5><a href="{{ project.repository }}">{{ project.repository }}</a></h3>
                    <h5><a href="{{ project.website }}">{{ project.website }}</a></h3>
                    <p>{{ project.description }}</p>
                </div>
                {% if project.image_id %}
                    <img class="image-project" src="{{ request.route_url('image', id=project.image_id) }}">
                {% endif %}
            </article>
        {% endfor %}
    </section>
{% endblock %}
