<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->
  <link rel="stylesheet" type="text/css" href="{{ request.static_url('pyramid_portfolio:static/normalize.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ request.static_url('pyramid_portfolio:static/base.css') }}">
</head>
<body>
  <nav>
    <ul>
      <li><a href="{{ request.route_url('home') }}">Home</a></li>
      {% if request.authenticated_userid %}
        <li><a href="{{ request.route_url('create') }}">Add Project</a></li>
        <li><a href="{{ request.route_url('logout') }}">Sign Out</a></li>
      {% else %}
        <li><a href="{{ request.route_url('login') }}">Sign In</a></li>
      {% endif %}
    </ul>
  </nav>
  {% block body %}
  {% endblock %}
</body>
</html>
