<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ request.static_url('pyramid_portfolio:static/base.css') }}">
</head>
<body>
  <nav>
    <ul>
      <li><a href="{{ request.route_url('home') }}">Home</a></li>
    </ul>
  {% if request.authenticated_userid %}
    <li><a href="{{ request.route_url('create') }}">Add Project</a></li>
    <li><a href="{{ request.route_url('logout') }}">Sign Out</a></li>
  {% endif %}
  </nav>
  {% block body %}
  {% endblock %}
</body>
</html>
